@use 'global' as *;

body{
    background-color: $white-smoke;
    height: auto;
}

.footer-page{

    background-color: $coffee-without-opacity;
    color: $white-smoke;
    //position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    position: relative !important;

    & > footer {

        & > .footer-information-page{

            & > .col-company-section{

                padding: 10px 50px;
                font-family: $font-monserrat;

                & > .company-section{

                    & > .ul-company-section{

                        & > .li-company-section-header{
                            list-style: none;
                            font-weight: $super-bold-700;
                            margin-bottom: 20px;
                            margin-top: 10px;
                            font-size: 1.0rem;
                        }

                        & > .li-company-section-items{
                            list-style: none;
                            font-weight: $super-bold-200;
                            margin-bottom: 20px;
                            margin-top: 10px;
                            font-size: 0.9rem;
                            margin-left: 0;


                        }

                        & > .li-company-section-items:hover{
                            color: $orange;
                            font-weight: $super-bold-700;
                        }


                    }
                }
            }

            & > .col-contact-section{
                padding: 10px 50px;
                font-family: $font-monserrat;

                & > .contact-section{

                    & > .ul-contact-section{
                        padding-left: 35%;

                        & > .li-contact-section-header{
                            list-style: none;
                            font-weight: $super-bold-700;
                            margin-bottom: 20px;
                            margin-top: 10px;
                            font-size: 1.0rem;
                            margin-left: 0;
                        }

                        & > .li-contact-section-items{
                            list-style: none;
                            font-weight: $super-bold-200;
                            margin-bottom: 20px;
                            margin-top: 10px;
                            font-size: 0.9rem;
                            margin-left: 0;

                            & > .whatsapp-icon-footer{
                                margin-right: 10px;
                            }
                        }

                        & > .li-contact-section-items:hover{
                            color: $orange;
                            font-weight: $super-bold-700;
                        }
                    }
                }

                & > .social-section{

                    & > .ul-social-section{
                        padding-left: 35%;

                        & > .li-social-section-header{
                            list-style: none;
                            font-weight: $super-bold-700;
                            margin-bottom: 20px;
                            margin-top: 10px;
                            font-size: 1.0rem;
                        }

                        & > .li-social-section-items{
                            list-style: none;
                            display: inline-block;
                            margin-bottom: 30px;
                            margin-top: 0;
                            margin-left: 0;
                        }

                        & > .li-social-section-items :hover{
                            opacity: 0.5;
                        }
                    }

                }
            }
        }

        & > .footer-copyright{
            & > .col-copyright{
                & > .copyright-section{
                    & > .p-copyright{
                        margin: 20px 0;
                        font-weight: $super-bold-500;
                        font-size: 0.9rem;
                        vertical-align: middle;
                        font-family: $font-monserrat;
                    }
                }
            }
        }
    }
}

.register-section{
    background-color: $white;
    width: 80%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 15px;
    border: none;
    -webkit-box-shadow: 1px 0px 20px rgb(0 0 0 / 5%);
    box-shadow: 1px 0px 20px rgb(0 0 0 / 5%);
    overflow-x: hidden;


    & > .register-form{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;

        & > h3{
            font-family: $font-monserrat;
            font-weight: $super-bold-bolder;
            color: $chocolate;
        }

        & > .alert-message{

            margin-top: 20px;
            font-family: $font-monserrat;

            & > .alert{
                & > .close{
                    float: right;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    color: $red;
                    background: $transparent;
                    text-shadow: 0 1px 0 $white-smoke;
                    opacity: 0.5;
                    border: 0;
                }
            }
        }

        & > .col-user-data{
            & > input[type=text]{
                font-family: $font-monserrat;
                font-size: 0.9em;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;
                box-shadow: 0 0 10px #719ECE;
            }

            & > #cbxSexo{
                font-family: $font-monserrat;
                font-size: 0.9em;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;
                box-shadow: 0 0 10px #719ECE;
            }

            & > #cbxSexo:hover{
                padding: 10px 15px;
                background-color: $white-smoke;
                transition: all 0.5s;
            }

            & > #cbxPassword{
                font-family: $font-monserrat;
                font-size: 0.9em;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;
                box-shadow: 0 0 10px #719ECE;
            }

            & > #cbxPassword:hover{
                padding: 10px 15px;
                background-color: $white-smoke;
                transition: all 0.5s;
            }

            & > #cbxConfirmPassword{
                font-family: $font-monserrat;
                font-size: 0.9em;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;
                box-shadow: 0 0 10px #719ECE;
            }

            & > #cbxConfirmPassword:hover{
                padding: 10px 15px;
                background-color: $white-smoke;
                transition: all 0.5s;
            }

            & > input[type=text]:focus
            {
                padding: 10px 15px;
                background-color: $white-smoke;
                transition: all 0.5s;
            }

            & > .lbl-col-user-data{
                font-family: $font-monserrat;
                font-size: 0.9em;
                font-weight: $super-bold-bolder;

            }

            & > .btn-submit-register{
                width: 100%;
                background-color: $coffee-without-opacity;
                font-family: $font-monserrat;
                font-size: 0.9em;
                padding: 10px 20px;
                margin: 10px 0;
                border: none;
                margin-top: 20px;
            }
        }

    }



}